.skills {
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 60px;
}

.rowOne{
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.rowTwo{
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.img {
    border-radius: 50%;
    height: 150px;
    width: 150px;    
}

.skillsContainer {
    padding-top: 140px;
    margin-top: -115px;
}