.aboutMeContainer {
    padding-top: 20px;
}

.aboutMe {
    font-size: 55px;
    color: black;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    font-family: 'Exo 2', sans-serif;

}

.biography {
    
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    padding: 25px 200px 0;
}

@media(max-width: 1100px) {
    .biography {
        padding: 0 50px 0;
    }
}