.aboutMeContainer {
    padding-top: 120px;
}

.aboutMe {
    font-size: 55px;
    color: black;
    font-weight: bold;
    padding-top: 30px;
    font-family: 'Exo 2', sans-serif;

}

.biography {    
    color: black;
    font-size: 20px;
}